In [16]:
import pyproj
import pandas as pd
import numpy as np

In [26]:
seoul_food_loc = pd.read_csv("서울시 일반음식점 위치 정보.csv", thousands = ',',
                                encoding = 'utf-8')
seoul_food_loc

            좌표정보(X)      좌표정보(Y)
0       202722.5318  444055.0707
1       204228.2373  446332.6927
2       203882.7780  444136.1670
3       209835.4199  445884.5368
4       210694.9140  444077.2546
...             ...          ...
124931  205294.1706  454765.2611
124932  206490.5943  459688.0609
124933  202534.5500  447079.2050
124934  197277.8630  447641.4505
124935  199506.1836  454029.3973

[124936 rows x 2 columns]

In [17]:
def project_array(coord, p1_type, p2_type):
    """
    좌표계 변환 함수
    - coord: x, y 좌표 정보가 담긴 NumPy Array
    - p1_type: 입력 좌표계 정보 ex) epsg:5179
    - p2_type: 출력 좌표계 정보 ex) epsg:4326
    """
    p1 = pyproj.Proj(init=p1_type)
    p2 = pyproj.Proj(init=p2_type)
    fx, fy = pyproj.transform(p1, p2, coord[:, 0], coord[:, 1])
    return np.dstack([fx, fy])[0]

In [27]:
coord = np.array(seoul_food_loc)
coord

array([[202722.5318, 444055.0707],
       [204228.2373, 446332.6927],
       [203882.778 , 444136.167 ],
       ...,
       [202534.55  , 447079.205 ],
       [197277.863 , 447641.4505],
       [199506.1836, 454029.3973]])

In [28]:
p1_type = "epsg:2097"
p2_type = "epsg:4326"

result = project_array(coord, p1_type, p2_type)
result

c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\USER\AppData\Local\Temp\ipykernel_9188\2093212355.py:10: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  fx, fy = pyproj.transform(p1, p2, coord[:, 0], coord[:, 1])

array([[127.02868676,  37.49870066],
       [127.04572718,  37.51921641],
       [127.04180802,  37.49942727],
       ...,
       [127.02657109,  37.52594853],
       [126.96710118,  37.53101343],
       [126.99230654,  37.5885722 ]])

In [29]:
seoul_food_loc['경도'] = result[:, 0]
seoul_food_loc['위도'] = result[:, 1]

In [30]:
seoul_food_loc

            좌표정보(X)      좌표정보(Y)          경도         위도
0       202722.5318  444055.0707  127.028687  37.498701
1       204228.2373  446332.6927  127.045727  37.519216
2       203882.7780  444136.1670  127.041808  37.499427
3       209835.4199  445884.5368  127.109148  37.515136
4       210694.9140  444077.2546  127.118844  37.498843
...             ...          ...         ...        ...
124931  205294.1706  454765.2611  127.057845  37.595188
124932  206490.5943  459688.0609  127.071435  37.639533
124933  202534.5500  447079.2050  127.026571  37.525949
124934  197277.8630  447641.4505  126.967101  37.531013
124935  199506.1836  454029.3973  126.992307  37.588572

[124936 rows x 4 columns]

In [31]:
seoul_food = pd.read_csv("서울시 일반음식점 정보.csv", thousands = ',',
                                encoding = 'utf-8')
seoul_food

,개방자치단체코드,관리번호,인허가일자,지번주소,도로명주소,도로명우편번호,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,3220000,3220000-101-2023-00456,2023-03-31,서울특별시 강남구 역삼동 823 삼원타워,"서울특별시 강남구 테헤란로 124, 삼원타워 지하1층 123호 (역삼동)",6234.0,랩보이(wrap boy),기타,202722.5318,444055.0707
1,3220000,3220000-101-2023-00458,2023-03-31,서울특별시 강남구 청담동 46-11 근정 빌딩,"서울특별시 강남구 삼성로133길 15, 근정 빌딩 지하1층 (청담동)",6068.0,은가비,경양식,204228.2373,446332.6927
2,3220000,3220000-101-2023-00459,2023-03-31,서울특별시 강남구 역삼동 711-6 역삼자이,"서울특별시 강남구 언주로 408, 역삼자이 상가동 지하1층 B10호 (역삼동)",6214.0,청춘부추소곱창,한식,203882.7780,444136.1670
3,3230000,3230000-101-2023-00220,2023-03-31,서울특별시 송파구 방이동 57 One57빌당,"서울특별시 송파구 올림픽로34길 27-23, One57빌딩 2층 201호 (방이동)",5547.0,오고보,경양식,209835.4199,445884.5368
4,3230000,3230000-101-2023-00222,2023-03-31,서울특별시 송파구 가락동 46-11 문종빌딩,"서울특별시 송파구 오금로36길 64, 문종빌딩 1층 (가락동)",5706.0,또봉이통닭 가락본동점,호프/통닭,210694.9140,444077.2546
...,...,...,...,...,...,...,...,...,...,...
124931,3050000,3050000-101-2001-12875,20010716,서울특별시 동대문구 이문동 316-2 지하1층,"서울특별시 동대문구 휘경로2길 19, 지하1층 (이문동)",2441.0,20bucks,기타,205294.1706,454765.2611
124932,3100000,3100000-101-1997-01969,19970707,서울특별시 노원구 하계동 256-11 보스턴 산부인과,"서울특별시 노원구 노원로 244, 보스턴 산부인과 1층 (하계동)",1750.0,DNJ,중국식,206490.5943,459688.0609
124933,3220000,3220000-101-1994-14896,19940917,서울특별시 강남구 신사동 609-1 지하1층,"서울특별시 강남구 압구정로30길 23 (신사동,지하1층)",6022.0,별달맛집,한식,202534.5500,447079.2050
124934,3020000,3020000-101-1988-00925,19880704,서울특별시 용산구 한강로2가 116-1 1층,"서울특별시 용산구 한강대로 130-3, 1층 (한강로2가)",4382.0,메가엠지씨커피 신용산역점,기타,197277.8630,447641.4505
124935,3000000,3000000-101-1995-02420,19950623,서울특별시 종로구 명륜3가 1-14,서울특별시 종로구 명륜길 31 (명륜3가),3071.0,희래등반점,중국식,199506.1836,454029.3973

In [32]:
seoul_food['경도'] = seoul_food_loc['경도']
seoul_food['위도'] = seoul_food_loc['위도']
seoul_food

,개방자치단체코드,관리번호,인허가일자,지번주소,도로명주소,도로명우편번호,사업장명,업태구분명,좌표정보(X),좌표정보(Y),경도,위도
0,3220000,3220000-101-2023-00456,2023-03-31,서울특별시 강남구 역삼동 823 삼원타워,"서울특별시 강남구 테헤란로 124, 삼원타워 지하1층 123호 (역삼동)",6234.0,랩보이(wrap boy),기타,202722.5318,444055.0707,127.028687,37.498701
1,3220000,3220000-101-2023-00458,2023-03-31,서울특별시 강남구 청담동 46-11 근정 빌딩,"서울특별시 강남구 삼성로133길 15, 근정 빌딩 지하1층 (청담동)",6068.0,은가비,경양식,204228.2373,446332.6927,127.045727,37.519216
2,3220000,3220000-101-2023-00459,2023-03-31,서울특별시 강남구 역삼동 711-6 역삼자이,"서울특별시 강남구 언주로 408, 역삼자이 상가동 지하1층 B10호 (역삼동)",6214.0,청춘부추소곱창,한식,203882.7780,444136.1670,127.041808,37.499427
3,3230000,3230000-101-2023-00220,2023-03-31,서울특별시 송파구 방이동 57 One57빌당,"서울특별시 송파구 올림픽로34길 27-23, One57빌딩 2층 201호 (방이동)",5547.0,오고보,경양식,209835.4199,445884.5368,127.109148,37.515136
4,3230000,3230000-101-2023-00222,2023-03-31,서울특별시 송파구 가락동 46-11 문종빌딩,"서울특별시 송파구 오금로36길 64, 문종빌딩 1층 (가락동)",5706.0,또봉이통닭 가락본동점,호프/통닭,210694.9140,444077.2546,127.118844,37.498843
...,...,...,...,...,...,...,...,...,...,...,...,...
124931,3050000,3050000-101-2001-12875,20010716,서울특별시 동대문구 이문동 316-2 지하1층,"서울특별시 동대문구 휘경로2길 19, 지하1층 (이문동)",2441.0,20bucks,기타,205294.1706,454765.2611,127.057845,37.595188
124932,3100000,3100000-101-1997-01969,19970707,서울특별시 노원구 하계동 256-11 보스턴 산부인과,"서울특별시 노원구 노원로 244, 보스턴 산부인과 1층 (하계동)",1750.0,DNJ,중국식,206490.5943,459688.0609,127.071435,37.639533
124933,3220000,3220000-101-1994-14896,19940917,서울특별시 강남구 신사동 609-1 지하1층,"서울특별시 강남구 압구정로30길 23 (신사동,지하1층)",6022.0,별달맛집,한식,202534.5500,447079.2050,127.026571,37.525949
124934,3020000,3020000-101-1988-00925,19880704,서울특별시 용산구 한강로2가 116-1 1층,"서울특별시 용산구 한강대로 130-3, 1층 (한강로2가)",4382.0,메가엠지씨커피 신용산역점,기타,197277.8630,447641.4505,126.967101,37.531013
124935,3000000,3000000-101-1995-02420,19950623,서울특별시 종로구 명륜3가 1-14,서울특별시 종로구 명륜길 31 (명륜3가),3071.0,희래등반점,중국식,199506.1836,454029.3973,126.992307,37.588572

In [33]:
seoul_food.to_csv('C:/Users/USER/Desktop/seoul_food.csv', index=False)